// write your CSS in here

/*
Author: Kevin Ward
Class: MIU1208
Name: Project 4
Date: 08-23-2012
*/

#charset "utf-8";

* {
	background: #000000;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	/*max-width: 640px;*/
	text-align: center;
	background: #222222;
}

header {
	line-height: 1.2em;
	letter-spacing: .02em;
	text-align: center;
	text-shadow: 2px 2px 5px darkgreen;
}

h1 {
	font-family: "Times New Roman", Times, serif;
	color: #FF6600;
}

h2 {
	font-family: "Times New Roman", Times, serif;
	color: #FF6600;
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	color: #FF6600;
}

h4 {
	font-family: Arial, Helvetica, sans-serif;
	color: #FF6600;
}

article {
	line-height: 1.0em;
	letter-spacing: .001em;
	text-align: center;
}

article#KoolPetForm {
	margin: 5px 0px;
	border: 1px solid #FF6600;
	padding: 0px;
	background: #333333;
}

div#searchPets {
	font-family: "Times New Roman", Times, serif;
	margin: 5px -10px;
	border: 1px solid #FF6600;
	padding: 5px;
	background: #333333;
	color: #FF6600;
}

div#searchPets h3 {
	font-family: "Times New Roman", Times, serif;
	color: #FF6600;
}

div#browsePets {
	font-family: "Times New Roman", Times, serif;
	margin: 5px -10px;
	border: 1px solid #FF6600;
	padding: 5px;
	background: #333333;
	color: #FF6600;
}

div#browsePets h3 {
	font-family: "Times New Roman", Times, serif;
	color: #FF6600;
}

div#petsForm {
	background: #333333;
	color: #FF6600;
}

div#item {
	background: #333333;
	color: #FF6600;
}

div#author {
	margin: 5px 2px;
	border: 1px solid #FF6600;
	padding: 2px;
	/*background: #333333;*/
}

div#newsstream {
	margin: 5px 2px;
	border: 1px solid #FF6600;
	padding: 2px;
	/*background: #333333;*/
}

div#underconst {
	margin: 5px 5px;
	border: 1px solid #FF6600;
	padding: 5px;
	/*background: #333333;*/
}

div controlgroup {
	text-align: center;
}

nav#addPetFeature {
	margin: 5px 0px;
	border: 1px solid #FF6600;
	padding: 5px;
}

nav#navi {
	margin: 5px 5px;
	border: 1px solid #FF6600;
	padding: 1px;
	text-align: center;
}

form {
	line-height: 1.0em;
	letter-spacing: .001em;
	font-family: Arial, Helvetica, sans-serif;
	background: #333333;
}

legend {
	text-align: center;
	color: #FF6600;
}

ul {
	background: #333333;
}

li {
	text-align: left;
	color: #FF6600;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.2em;
	letter-spacing: .02em;
	text-align: center;
	color: #FF6600;
}

p#greyText {
	font-family: "Times New Roman", Times, serif;
	line-height: 0.4em;
	letter-spacing: .01em;
	text-align: center;
	color: #666;
}

a {
	margin: 5px 5px;
	color: #FF6600;
}

a:hover {
	border: 1px dotted darkorange;
	color: #FF6600;
}

a#addPet {
	border: 1px solid #FF6600;
	margin: 5px 1px;
	padding: 5px;
	color: #FF6600;
	text-shadow: 1px 1px 2px darkgreen;
	background: #222222;
}

span {
	font-family: Arial, Helvetica, sans-serif;
	color: #FF6600;
	text-align: center;
}

footer {
	text-align: center;
}

footer div {
	text-align: center;
}

small {
	font-family: Arial, Helvetica, sans-serif;
	color: #0000FF;
	text-shadow: 1px 1px 2px #FF00FF;
}




